
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    height: 100px;
    width: 100vw;
    background-image: url("./assets/images/pexels-pixabay-531767.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

h1{
    font-size: 40px;
    background-color: rgba(92, 174, 188, 0.703);
    width:410px;
    height: 50px;
    border-radius: 10px;
    border: solid white 1px;
    box-shadow: 2px 5px 20px rgb(0, 0, 0);
    margin-right: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#weather-display{
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 255, 255, 0.548) ;
    
}

#todays-weather{
    width: 80vw;
    height: 40vh;
}

#five-day-forecast{
    height: 60vh;
    width: 80vw;
}

#aside-search{
    width: 20vw;
    background-color: rgba(163, 226, 235, 0.575);
    border-top-right-radius: 16px;
    border-right: 1px solid black;
}

#search-bar-div{
    border-top-right-radius: 10px;
    text-align: center;
    display: block;
    padding-top: 45px;
    padding-bottom: 30px;
    background: rgba(31, 105, 109, 0.48);
    border-radius: 0 16px 16px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(20, 189, 196, 1);
    box-shadow: -2px 2px 10px black;
}

#search-btn{
    padding: 5px;
    margin-top: 5px;
    box-shadow: -2px 2px 10px black;
}

#search-input{
    height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: -2px 2px 10px black;
}

#search-title{
    color: rgb(0, 0, 0);
    border-bottom: solid black 1.5px;
    margin-bottom: 10px;
}

#history {
    font-size: large;
    text-align: center;
    border-bottom: solid black 1.5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(92, 174, 188, 0.703);
    border-radius: 0 16px 16px 0;
    box-shadow: -2px 2px 10px black;
}

#todays-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.day-header{
    font-size: 50px;
    text-align: center;
    width: 100%;
    background: rgba(113, 180, 201, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(113, 180, 201, 0.3);
}

.weather-info {
    text-align: center;
    font-size: 30px;
    background-color: rgba(39, 134, 139, 0.48);
    width: 50%;
    border-radius: 16px;
    box-shadow: -2px 2px 10px black;
    margin-top: 10px;
}

#five-day-forecast {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 180px;
    height: 230px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(51, 177, 184, 0.358);
    border-radius: 16px;
    border: 1px solid rgba(113, 180, 201, 0.3);
    box-shadow: -2px 2px 10px black;
}

.cards p {
    border-bottom: 1px solid rgb(113, 180, 201);
    margin: 10px;
    
}

#top-image{
    width:70px;
    height: 50px;
    background-color: rgba(51, 177, 184, 0.358);
    border-radius: 50%;
    
    
}

.search-history-btn{
    text-align: center;
    color: black;
    width: 80%;
    height: 20px;
    margin-left: 25px;
    margin-top: 6px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.461);
    box-shadow: -2px 2px 5px black;
}


